body{
    background-color: red;
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 300px;

    border: 75px solid green;
    padding: 30px;
    width: 85%;
    margin: auto;

}

h1{
    color: green;
    font-size: 100px;
    text-decoration: underline
}

h2{
    color: white;
    font-size: 75px;
}

.nav_item{

    display: inline;
    
    background-color: yellowgreen;
    color: darkgreen;
    padding: 30px;
}



#topMenu{
    margin: 75px;
}

.nav_item:hover{
    background-color: yellow;
    color: yellowgreen;
}

.sectionTitle{
    color: lightblue;
    font-size: 75px;
    text-decoration: underline;
    font-weight: bold;
}

.border{
    color: green;
}

.todayspecial{
    text-decoration: underline;
}

.pizzaName{
    color: lightgreen;
    text-decoration: underline;
    font-size: 52.5px;
}

.description{
    color: aqua;
    padding-left: 20px;
    padding-right: 20px;
}

#menuItems{
    border: 5px solid white;
    padding: 10px;
    width: 75%;
    margin: auto;
    border-radius: 200px;
}

#today{
    border: 5px dotted white;
    padding: 10px;
    width: 75%;
    margin: auto;
    border-radius: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
    
}

.price{
    color: yellow;
}

.text{
    padding-bottom = 20px;
}
